Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

feat: implement soft delete for products and enhance error handling
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

feat: implement Wishlist module with controller, service, and documentation
  apps/server/src/wishlist/wishlist.controller.spec.ts
  apps/server/src/wishlist/wishlist.controller.ts
  apps/server/src/wishlist/wishlist.docs.ts
  apps/server/src/wishlist/wishlist.module.ts
  apps/server/src/wishlist/wishlist.service.ts
Due: eslint --config eslint.config.js --fix

feat: add Wishlist module to application imports
  apps/server/src/app.module.ts
Due: eslint --config eslint.config.js --fix

feat: enhance productUpdateSchema to include deletedAt field and tidy up DTO class definitions
  packages/schema/src/dto/products.schema.ts
Due: eslint --config eslint.config.js --fix

feat: add wishlist schema with metadata, relations, items, and DTOs
  packages/schema/src/dto/wishlist.schema.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.511.0 to 0.545.0
  packages/ui/package.json
Due: prettier --write

feat: update User model required fields & add DELETED status to UserStatus
  apps/server/prisma/schema.prisma
Due: none

feat: implement Address module with controller, service, and documentation
  apps/server/src/address/address.controller.ts
  apps/server/src/address/address.docs.ts
  apps/server/src/address/address.module.ts
  apps/server/src/address/address.service.ts
  packages/schema/src/dto/address.schema.ts
Due: eslint --config eslint.config.js --fix

feat: implement Cart module with controller, service, and documentation
  apps/server/src/cart/cart.controller.ts
Due: eslint --config eslint.config.js --fix

feat: add documentation for cart operations including find, create, update, delete, and bulk delete
  apps/server/src/cart/cart.docs.ts
Due: eslint --config eslint.config.js --fix

feat: implement CartService with CRUD operations and error handling
  apps/server/src/cart/cart.service.ts
Due: eslint --config eslint.config.js --fix

feat: create Cart module with controller, service, and routing configuration
  apps/server/src/cart/cart.module.ts
Due: eslint --config eslint.config.js --fix

feat: add Cart schema with metadata, relations, item definitions, and DTOs
  packages/schema/src/dto/cart.schema.ts
Due: eslint --config eslint.config.js --fix

feat: add User schema with metadata, input validation, and DTOs
  packages/schema/src/dto/user.schema.ts
Due: eslint --config eslint.config.js --fix

feat: implement UserService with CRUD operations, role management, and error handling
  apps/server/src/user/user.service.ts
Due: eslint --config eslint.config.js --fix

feat: add comprehensive API documentation for user operations including CRUD and role management
  apps/server/src/user/user.docs.ts
Due: eslint --config eslint.config.js --fix

feat: implement UserController with CRUD operations, role management, and user retrieval endpoints
  apps/server/src/user/user.controller.ts
Due: eslint --config eslint.config.js --fix

feat: add user module
  apps/server/src/user/user.module.ts
Due: eslint --config eslint.config.js --fix

feat: integrate Cart, User & Address routes to app module
  apps/server/src/app.module.ts
Due: eslint --config eslint.config.js --fix

feat: delete unused test
  apps/server/src/wishlist/wishlist.controller.spec.ts
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  package.json
Due: prettier --write

fix: upgrade eslint from 9.37.0 to 9.38.0
  package.json
Due: prettier --write

fix: upgrade eslint-config-next from 15.5.5 to 15.5.6
  package.json
Due: prettier --write

refactor: remove redundant unique constraints from User and Wishlist models
  apps/server/prisma/schema.prisma
Due: none

fix: improve logging and error messages in user and wishlist services
  apps/server/src/products/product.transactions.service.ts
  apps/server/src/tags/tags.service.ts
  apps/server/src/user/user.service.ts
  apps/server/src/wishlist/wishlist.service.ts
Due: eslint --config eslint.config.js --fix

refactor: simplify method signatures and improve logging in WishlistService
  apps/server/src/user/user.service.ts
  apps/server/src/wishlist/wishlist.service.ts
Due: eslint --config eslint.config.js --fix

refactor: update User model to rename 'firstName' and 'lastName' to 'fullName' for clarity
  apps/server/prisma/migrations/20251116072745_v1_0_2_refactor_user/migration.sql
  apps/server/prisma/schema.prisma
Due: none

refactor: remove firstName and lastName fields from user schema, retaining fullName for clarity
  packages/schema/src/dto/user.schema.ts
Due: eslint --config eslint.config.js --fix

refactor: enhance API documentation for user-related endpoints
  apps/server/src/user/user.docs.ts
Due: eslint --config eslint.config.js --fix

refactor: streamline UserController by removing unused routes and simplifying methods
  apps/server/src/user/user.controller.ts
Due: eslint --config eslint.config.js --fix

refactor: enhance StoresService by injecting UserService and improving user retrieval logic
  apps/server/src/stores/stores.service.ts
Due: eslint --config eslint.config.js --fix

feat: add AdminController for user management with role updates and bulk deletion
  apps/server/src/user/admin.user.controller.ts
Due: eslint --config eslint.config.js --fix

refactor: update UserService methods to improve user retrieval and management with Clerk integration
  apps/server/src/user/user.service.ts
Due: eslint --config eslint.config.js --fix

refactor: add UserService to StoresModule and include AdminController in UserModule
  apps/server/src/stores/stores.module.ts
  apps/server/src/user/user.module.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.507.0 to 0.548.0
  apps/web/package.json
Due: prettier --write

fix: upgrade eslint from 9.37.0 to 9.39.0
  package.json
Due: prettier --write

fix: upgrade lucide-react from 0.507.0 to 0.552.0
  apps/web/package.json
Due: prettier --write

fix: packages/ui/package.json to reduce vulnerabilities
  packages/ui/package.json
Due: prettier --write

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: prettier --write
