Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

refactor: remove unused async
  apps/web/components/specific/orders/components/orders-table/cell/order-cell-actions.tsx
  apps/web/components/specific/products/components/products-table/cell/product-actions-cell.tsx
  apps/web/components/specific/revenue/components/revenue-table/cell/revenue-actions-cell.tsx
  apps/web/components/specific/users/components/user-table/cell/users-actions-cell.tsx
Due: eslint --config eslint.config.js --fix

fix: revert to tailwindcss v3
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/styles/global.scss
  packages/tailwind-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add product editor preview
  apps/web/components/specific/product-editor/components/editor-preview/editor-preview.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-category.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-description.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-heading.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-price.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-product-images.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-tags.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-variant.tsx
  apps/web/styles/global.scss
Due: eslint --config eslint.config.js --fix

feat: improve form handling & form validation
  apps/web/components/specific/product-editor/components/editor-preview/preview-product-images.tsx
  apps/web/components/specific/product-editor/components/product-category.tsx
  apps/web/components/specific/product-editor/components/product-metadata.tsx
  apps/web/components/specific/product-editor/components/product-price.tsx
  apps/web/components/specific/product-editor/components/product-variants.tsx
  apps/web/components/specific/product-editor/product-editor.tsx
  apps/web/hooks/use-product-form.tsx
  apps/web/public/static/image-placeholder.svg
  apps/web/schemas/product-schema.tsx
Due: eslint --config eslint.config.js --fix

feat: add dynamic preview
  apps/web/components/specific/product-editor/components/editor-preview/preview-description.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-heading.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-price.tsx
  apps/web/components/specific/product-editor/components/product-metadata.tsx
  apps/web/data/get-product-data.ts
  apps/web/schemas/product-schema.tsx
Due: eslint --config eslint.config.js --fix

feat: add modal provider & store model
  apps/web/components/shared/modal/modal-provider.tsx
  apps/web/components/shared/modal/modal.tsx
  apps/web/components/shared/modal/store-modal.tsx
Due: eslint --config eslint.config.js --fix

feat: add dialog
  apps/web/app/layout.tsx
  apps/web/components/specific/nav/components/store-selector/store-selector-dropdown.tsx
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/shadcn/dialog.tsx
  packages/ui/src/shadcn/modal.tsx
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add toast notification
  apps/web/utils/toast.ts
Due: eslint --config eslint.config.js --fix

feat: add modal store
  apps/web/stores/store-modal-store.ts
Due: eslint --config eslint.config.js --fix

feat: add icons selector
  apps/web/actions/get-icons.ts
  apps/web/components/shared/input/icon-selector.tsx
Due: eslint --config eslint.config.js --fix

feat: add icons search server action
  apps/web/actions/get-icons.ts
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  apps/web/package.json
  package.json
  packages/ui/tsup.config.bundled_szk8r55vr2.mjs
  pnpm-lock.yaml
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

refactor: improve keyboard navigation
  apps/web/components/specific/product-editor/components/editor-preview/preview-variant.tsx
Due: eslint --config eslint.config.js --fix

refactor: fix product card height
  apps/web/components/specific/products/components/low-on-stocks/low-on-stocks.tsx
Due: eslint --config eslint.config.js --fix

fix: add missing input ref
  apps/web/components/shared/input/text-input.tsx
Due: eslint --config eslint.config.js --fix

refactor: improve keyboard navigation
  apps/web/components/shared/input/icon-selector.tsx
Due: eslint --config eslint.config.js --fix

feat: migrate to sonner toast
  apps/web/components/specific/products/components/products-table/cell/product-actions-cell.tsx
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.475.0 to 0.476.0
  packages/ui/package.json
Due: prettier --write

chore: update next.js to version 15.2.3
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add brand and category fields to product editor with validation
  apps/web/components/specific/product-editor/components/editor-preview/preview-category.tsx
  apps/web/components/specific/product-editor/components/product-category.tsx
  apps/web/schemas/product-schema.tsx
Due: eslint --config eslint.config.js --fix

feat: add dynamic tags to product editor preview
  apps/web/components/specific/product-editor/components/editor-preview/preview-tags.tsx
Due: eslint --config eslint.config.js --fix

feat: enhance variant selection with improved click handling and label positioning
  apps/web/components/specific/product-editor/components/editor-preview/preview-variant.tsx
Due: eslint --config eslint.config.js --fix

feat: improve button hover and active states in editor card component
  apps/web/components/specific/product-editor/components/editor-card.tsx
Due: eslint --config eslint.config.js --fix

refactor: improve icon selector readability and maintainability
  apps/web/components/shared/input/icon-selector.tsx
  apps/web/components/shared/input/icon-selector/icon-display.tsx
  apps/web/components/shared/input/icon-selector/icon-list.tsx
  apps/web/components/shared/input/icon-selector/icon-search.tsx
  apps/web/components/shared/input/icon-selector/icon-selector.tsx
Due: eslint --config eslint.config.js --fix

feat: add variant modal to modal provider and update modal background style
  apps/web/components/shared/modal/modal-provider.tsx
  apps/web/components/shared/modal/modal.tsx
Due: eslint --config eslint.config.js --fix

feat: implement variant modal and refactor product variants component structure
  apps/web/components/shared/modal/variant-modal.tsx
  apps/web/components/specific/product-editor/components/product-variants.tsx
  apps/web/components/specific/product-editor/components/product-varient/add-varient.tsx
  apps/web/components/specific/product-editor/components/product-varient/product-variants.tsx
  apps/web/components/specific/product-editor/components/product-varient/varient-items.tsx
Due: eslint --config eslint.config.js --fix

feat: refactor modal store structure and enhance store modal functionality
  apps/web/components/shared/modal/store-modal.tsx
  apps/web/stores/modal-store/create-modal-store.ts
  apps/web/stores/modal-store/store-modal-store.ts
  apps/web/stores/modal-store/varient-modal-store.ts
  apps/web/stores/store-modal-store.ts
  apps/web/types/modal-store.-type.ts
Due: eslint --config eslint.config.js --fix

fix: update import path for useStoreModal in store-selector-dropdown component
  apps/web/components/specific/nav/components/store-selector/store-selector-dropdown.tsx
Due: eslint --config eslint.config.js --fix

fix: correct import path for ProductVariants component in product editor
  apps/web/components/specific/product-editor/product-editor.tsx
Due: eslint --config eslint.config.js --fix

fix: update Checkbox component styles and improve accessibility features
  packages/ui/src/shadcn/checkbox.tsx
Due: eslint --config eslint.config.js --fix

feat: add AddVarientItem component and useIconSearch hook for enhanced product variant management
  apps/web/components/specific/product-editor/components/product-varient/add-varient-item.tsx
  apps/web/hooks/use-icons-search.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/types/icon-selector-type.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

fix: correct spelling of 'variant' in component names and import paths
  apps/web/components/shared/modal/modal-provider.tsx
  apps/web/components/shared/modal/variant-modal.tsx
  apps/web/components/specific/product-editor/components/product-varient/add-variant-item.tsx
  apps/web/components/specific/product-editor/components/product-varient/add-variant.tsx
  apps/web/components/specific/product-editor/components/product-varient/product-variants.tsx
  apps/web/components/specific/product-editor/components/product-varient/variant-items.tsx
  apps/web/components/specific/product-editor/product-editor.tsx
  apps/web/stores/modal-store/variant-modal-store.ts
  apps/web/tsconfig.json
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add brand field to product form hook for improved product management
  apps/web/hooks/use-product-form.tsx
Due: eslint --config eslint.config.js --fix

refactor: enhance PreviewCategory component & error handling
  apps/web/components/specific/product-editor/components/editor-preview/preview-category.tsx
Due: eslint --config eslint.config.js --fix

feat: add VariantItemModal component for creating new variant items
  apps/web/components/shared/modal/variant-item-modal.tsx
Due: eslint --config eslint.config.js --fix

feat: add VariantItemModal to ModalProvider for improved modal management
  apps/web/components/shared/modal/modal-provider.tsx
Due: eslint --config eslint.config.js --fix
