Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

chore: pnpm package update
  apps/web/data/get-orders-data.ts
  package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

chore: update tsconfig moduleResolution to bundler
  packages/ui/package.json
  packages/ui/src/shadcn/form.tsx
  packages/ui/src/shadcn/label.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

chore: update package type
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

style: rename constants.ts -> .tsx
  apps/web/components/specific/orders/components/orders-table/cell/order-status-cell/constants.ts
  apps/web/components/specific/orders/components/orders-table/cell/order-status-cell/constants.tsx
Due: eslint --config eslint.config.js --fix

refactor: move product header & cells to seperate components
  apps/web/components/specific/products/components/products-table/cell/product-title-cell.tsx
  apps/web/components/specific/products/components/products-table/header/product-title-header.tsx
Due: eslint --config eslint.config.js --fix

feat: add product actions
  apps/web/components/specific/products/components/products-table/cell/product-actions-cell.tsx
  apps/web/components/specific/products/components/products-table/product-columns.tsx
  apps/web/components/specific/products/components/products-table/products-table.tsx
  apps/web/data/get-product-data.ts
  apps/web/types/product-type.ts
Due: eslint --config eslint.config.js --fix

fix: product type defenition type error
  apps/web/data/get-orders-data.ts
  apps/web/types/order-type.ts
  apps/web/types/product-type.ts
Due: eslint --config eslint.config.js --fix

fix: product type defenition type error
  apps/web/data/get-sales-data.tsx
Due: eslint --config eslint.config.js --fix

fix: codescan bug fixes
  apps/web/data/get-orders-data.ts
  apps/web/types/order-type.ts
Due: eslint --config eslint.config.js --fix

feat: add users page
  apps/web/app/(pages)/users/page.tsx
  apps/web/components/specific/users/components/active-users/active-users.tsx
  apps/web/components/specific/users/components/engagement/engagement.tsx
  apps/web/components/specific/users/components/total-users/total-users.tsx
  apps/web/components/specific/users/components/user-table/cell/users-actions-cell.tsx
  apps/web/components/specific/users/components/user-table/header/users-name-header.tsx
  apps/web/components/specific/users/components/user-table/product-add-button.tsx
  apps/web/components/specific/users/components/user-table/users-columns.tsx
  apps/web/components/specific/users/components/user-table/users-search.tsx
  apps/web/components/specific/users/components/user-table/users-table.tsx
  apps/web/components/specific/users/components/users-chart/index.tsx
  apps/web/components/specific/users/components/users-chart/users-chart.tsx
  apps/web/components/specific/users/users.tsx
  apps/web/data/get-users-data.tsx
  apps/web/types/users-type.ts
Due: eslint --config eslint.config.js --fix

refactor: move info-header to sepearate component
  apps/web/components/shared/header/info-header.tsx
Due: eslint --config eslint.config.js --fix

feat: improve ui, add bg-gradient & better scaling
  apps/web/app/(pages)/layout.tsx
  apps/web/components/shared/card/info-card/info-card.tsx
  apps/web/components/shared/dropdown/dropdown.tsx
  apps/web/components/specific/nav/components/store-selector/store-selector-dropdown.tsx
  apps/web/components/specific/nav/nav.tsx
  apps/web/components/specific/orders/orders.tsx
  apps/web/components/specific/products/products.tsx
  apps/web/components/specific/sidebar/sidebar.tsx
  apps/web/components/specific/users/users.tsx
  apps/web/styles/global.scss
  packages/ui/src/shadcn/card.tsx
Due: eslint --config eslint.config.js --fix

feat: reduced layout shift
  apps/web/components/specific/dashboard/components/sales/sales-chart.tsx
Due: eslint --config eslint.config.js --fix

feat: add toast
  apps/web/app/(pages)/layout.tsx
  apps/web/app/(pages)/page.tsx
  apps/web/components/shared/toaster/index.ts
  apps/web/components/shared/toaster/toaster.tsx
  apps/web/components/specific/products/components/products-table/cell/product-actions-cell.tsx
  apps/web/hooks/use-toast.ts
  apps/web/styles/global.scss
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add toast provider component
  packages/ui/src/shadcn/toast.tsx
  packages/ui/tsconfig.json
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add revenue page
  apps/web/app/(pages)/revenue/page.tsx
  apps/web/components/specific/revenue/components/revenue-chart/index.tsx
  apps/web/components/specific/revenue/components/revenue-chart/revenue-chart.tsx
  apps/web/components/specific/revenue/components/revenue-table/cell/revenue-actions-cell.tsx
  apps/web/components/specific/revenue/components/revenue-table/cell/revenue-user-cell.tsx
  apps/web/components/specific/revenue/components/revenue-table/header/users-header.tsx
  apps/web/components/specific/revenue/components/revenue-table/revenue-columns.tsx
  apps/web/components/specific/revenue/components/revenue-table/revenue-search.tsx
  apps/web/components/specific/revenue/components/revenue-table/revenue-table.tsx
  apps/web/components/specific/revenue/revenue.tsx
  apps/web/data/get-revenue.ts
  apps/web/types/transaction-type.ts
Due: eslint --config eslint.config.js --fix

feat: add horizontal order status dropdown list
  apps/web/components/shared/dropdown/dropdown.tsx
  apps/web/components/specific/orders/components/orders-table/cell/order-status-cell/order-status-cell-dropdown.tsx
Due: eslint --config eslint.config.js --fix

docs: update readme
  README.md
Due: none

feat: add text area
  packages/ui/src/shadcn/input.tsx
  packages/ui/src/shadcn/textarea.tsx
Due: eslint --config eslint.config.js --fix

feat: add input wrapper
  apps/web/components/shared/input/components/input-wrapper.tsx
Due: eslint --config eslint.config.js --fix

feat: add text-area
  apps/web/components/shared/input/text-area.tsx
Due: eslint --config eslint.config.js --fix

refactor: add reusable wrapper
  apps/web/components/shared/input/text-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add product-editor page
  apps/web/app/(pages)/products/editor/page.tsx
Due: eslint --config eslint.config.js --fix

feat(hooks): add use-product-form hook
  apps/web/hooks/use-product-form.tsx
Due: eslint --config eslint.config.js --fix

feat: add product metadata form card
  apps/web/components/specific/product-editor/components/product-metadata.tsx
Due: eslint --config eslint.config.js --fix

feat: add product price form card
  apps/web/components/specific/product-editor/components/product-price.tsx
Due: eslint --config eslint.config.js --fix

feat: improve responsiveness on different screen ratios
  apps/web/components/specific/dashboard/components/revenue/revenue.tsx
  apps/web/components/specific/dashboard/components/sales/sales.tsx
  apps/web/components/specific/dashboard/components/top-sellers/top-sellers.tsx
  apps/web/components/specific/dashboard/dashboard.tsx
Due: eslint --config eslint.config.js --fix

feat: add reusable card component for editor inputs
  apps/web/components/specific/product-editor/components/editor-card.tsx
Due: eslint --config eslint.config.js --fix

feat: add product-category selector
  apps/web/components/specific/product-editor/components/product-category.tsx
Due: eslint --config eslint.config.js --fix

feat: add product-metadata input
  apps/web/components/specific/product-editor/components/product-metadata.tsx
Due: eslint --config eslint.config.js --fix

feat: add product-price input
  apps/web/components/specific/product-editor/components/product-price.tsx
Due: eslint --config eslint.config.js --fix

feat: add product-editor -/prototype
  apps/web/components/specific/product-editor/product-editor.tsx
Due: eslint --config eslint.config.js --fix

feat: add editor preview skeleton
  apps/web/components/specific/product-editor/components/editor-preview.tsx
Due: eslint --config eslint.config.js --fix

feat: add product schema
  apps/web/schemas/product-schema.tsx
Due: eslint --config eslint.config.js --fix

feat: add product editor
  apps/web/app/(pages)/page.tsx
  apps/web/components/shared/card/product-card/product-card.tsx
  apps/web/components/specific/nav/components/route-title/route-title.tsx
  apps/web/styles/global.scss
  apps/web/types/base-props.ts
Due: eslint --config eslint.config.js --fix

feat: add product preview images
  apps/web/components/specific/product-editor/components/editor-preview/editor-preview.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-product-images.tsx
  apps/web/components/specific/product-editor/product-editor.tsx
Due: eslint --config eslint.config.js --fix

feat: update sidebar isActive to identify nested routes
  apps/web/components/specific/sidebar/sidebar-buttons.tsx
  apps/web/next.config.js
Due: eslint --config eslint.config.js --fix

feat: add editor preview
  apps/web/components/specific/product-editor/components/editor-preview/editor-preview.tsx
  apps/web/components/specific/product-editor/components/editor-preview/preview-product-images.tsx
Due: eslint --config eslint.config.js --fix

ci: improve docker build strategy
  apps/web/Dockerfile
Due: none

chore: migrate tailwindcss v4
  .vscode/hwei.code-workspace
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/styles/global.scss
  packages/tailwind-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write
