Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

feat(images): enhance image service and controller
  apps/server/src/products/image/image.controller.ts
  apps/server/src/products/image/image.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): refactor combination and combination option services to use BaseService
  apps/server/src/products/variants/combination-option/combination-option.service.ts
  apps/server/src/products/variants/combination/combination.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): implement promotion and promotion scope modules
  apps/server/src/products/variants/promotion-scope/promotion-scope.controller.spec.ts
  apps/server/src/products/variants/promotion-scope/promotion-scope.controller.ts
  apps/server/src/products/variants/promotion-scope/promotion-scope.service.spec.ts
  apps/server/src/products/variants/promotion-scope/promotion-scope.service.ts
  apps/server/src/products/variants/promotion/promotion.controller.spec.ts
  apps/server/src/products/variants/promotion/promotion.controller.ts
  apps/server/src/products/variants/promotion/promotion.service.spec.ts
  apps/server/src/products/variants/promotion/promotion.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): use cuid for combinationId and currencyId in priceRelationSchema
  apps/server/src/products/schemas/price.schema.ts
Due: eslint --config eslint.config.js --fix

feat(products): refine product input schema and omit storeId
  apps/server/src/products/schemas/products.schema.ts
Due: eslint --config eslint.config.js --fix

feat(products): enhance product variants with thumbnail and inventory/pricing modules
  apps/server/src/products/schemas/variants.schema.ts
  apps/server/src/products/variants/variants.module.ts
Due: eslint --config eslint.config.js --fix

feat(tags): move tag schemas to tags module
  apps/server/src/tags/tags.controller.ts
  apps/server/src/tags/tags.docs.ts
  apps/server/src/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): implement variant option module and refactor inventory/label services
  apps/server/src/products/variants/inventory/inventory.service.ts
  apps/server/src/products/variants/label/label.service.ts
  apps/server/src/products/variants/option/option.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): remove unused LabelInputDTO
  apps/server/src/products/variants/label/label.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): refine product transaction schema and omit unused fields
  apps/server/src/products/schemas/product-transaction.ts
Due: eslint --config eslint.config.js --fix

feat(products): implement product creation transaction with variants and images
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): integrate product transaction input DTO in controller
  apps/server/src/products/products.controller.ts
Due: eslint --config eslint.config.js --fix

fix(package): reorder @cspell/eslint-plugin dependency in package.json
  apps/server/package.json
Due: prettier --write

feat(errors): enhance unique constraint violations with readable error formating
  apps/server/src/common/errors/handlers/internal.error.handler.ts
  apps/server/src/common/utils/format-unique-constrain-error.ts
Due: eslint --config eslint.config.js --fix

refactor(variants): move transaction variant to variant schema
  apps/server/src/products/schemas/product-transaction.ts
  apps/server/src/products/schemas/variants.schema.ts
Due: eslint --config eslint.config.js --fix

feat(variants): add VariantsService for handling variant transactions
  apps/server/src/products/variants/variants.module.ts
  apps/server/src/products/variants/variants.service.ts
Due: eslint --config eslint.config.js --fix

refactor(variants): update import path for VariantTransactionInput schema
  apps/server/src/products/variants/variants.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): add ProductTransactionsService for handling product transactions
  apps/server/src/products/product.transactions.service.ts
  apps/server/src/products/products.module.ts
Due: eslint --config eslint.config.js --fix

feat(images): add createTransactionalImages method for batch image creation
  apps/server/src/products/image/image.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): integrate ProductTransactionsService for product creation
  apps/server/src/products/products.controller.ts
Due: eslint --config eslint.config.js --fix

refactor(products): simplify createOne method and remove unused variant services
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

fix(errors): improve logging for PrismaClientKnownRequestError in production
  apps/server/src/common/errors/handlers/internal.error.handler.ts
Due: eslint --config eslint.config.js --fix

fix(transactions): add error handling to createOne method in ProductTransactionsService
  apps/server/src/products/product.transactions.service.ts
Due: eslint --config eslint.config.js --fix

refactor(products): implement error handling in all service methods
  apps/server/src/products/products.controller.ts
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

fix(images): add early return for empty images in createTransactionalImages method
  apps/server/src/products/image/image.service.ts
Due: eslint --config eslint.config.js --fix

fix(variants): add pricing attachment for variant combinations in handleVariantItem method
  apps/server/src/products/variants/variants.service.ts
Due: eslint --config eslint.config.js --fix

fix(products): replace direct prisma calls with getClient in findOne and deleteOne methods
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.503.0 to 0.511.0
  packages/ui/package.json
Due: prettier --write

fix: upgrade lucide-react from 0.511.0 to 0.513.0
  packages/ui/package.json
Due: prettier --write

fix: migrate deprecated dependencies & fix related errors
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/schemas/product-schema.tsx
  apps/web/styles/tailwind.css
Due: eslint --config eslint.config.js --fix, prettier --write

chore: remove unused system packages
  apps/server/src/stores/schemas/store.schema.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/db.ts
  packages/database/src/env.ts
  packages/database/src/prisma-wrapper.ts
  packages/database/src/prisma.test.ts
  packages/database/src/seed.ts
  packages/database/tsconfig.json
  packages/env/README.md
  packages/env/index.ts
  packages/env/package.json
  packages/env/schema/env-schema.ts
  packages/env/src/validate.ts
  packages/env/tsconfig.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

fix: upgrade lucide-react from 0.511.0 to 0.542.0
  packages/ui/package.json
Due: prettier --write

fix: upgrade tailwindcss from 3.4.7 to 3.4.17
  packages/ui/package.json
Due: prettier --write

feat: migrate schemas to shared library
  packages/schema/package.json
  packages/schema/src/dto/brands.schema.ts
  packages/schema/src/dto/categories.schema.ts
  packages/schema/src/dto/currency.schema.ts
  packages/schema/src/dto/images.schema.ts
  packages/schema/src/dto/inventory.schema.ts
  packages/schema/src/dto/price.schema.ts
  packages/schema/src/dto/product-transaction.ts
  packages/schema/src/dto/products.schema.ts
  packages/schema/src/dto/query-schema.ts
  packages/schema/src/dto/store.schema.ts
  packages/schema/src/dto/tags.schema.ts
  packages/schema/src/dto/variants.schema.ts
  packages/schema/src/utils/index.ts
  packages/schema/tsconfig.json
  packages/schema/tsup.config.ts
Due: eslint --config eslint.config.js --fix, prettier --write

feat: migrate schemas to shared library
  apps/web/components/shared/input/search-input.tsx
  apps/web/hooks/use-debounce.ts
  apps/web/package.json
  packages/client-sdk/package.json
  packages/client-sdk/src/index.ts
  packages/client-sdk/src/store.ts
  packages/client-sdk/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

fix: remove unintented configs
  .husky/pre-push
  packages/schema/package.json
  packages/schema/tsconfig.json
Due: prettier --write

chore: pnpm package update
  pnpm-lock.yaml
Due: none

fix: upgrade lucide-react from 0.507.0 to 0.544.0
  apps/web/package.json
Due: prettier --write

feat: initialize client sdk package
  packages/client-sdk/jest.config.js
  packages/client-sdk/package.json
  packages/client-sdk/tsconfig.json
Due: eslint --config eslint.config.js --fix, prettier --write

Path conditions:
  eslint --config eslint.config.js --fix: ((any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/**/*.{js,ts,jsx,tsx})) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
