Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

feat(apps/server): add swagger documentation to tags controller endpoints
  apps/server/src/products/tags/tags.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add ApiUnauthorizedResponse to swagger docs
  apps/server/src/brands/brands.docs.ts
  apps/server/src/categories/categories.docs.ts
  apps/server/src/products/tags/tags.docs.ts
Due: eslint --config eslint.config.js --fix

chore(server/dev/docker-compose.yml): remove deprecated 'version' field
  apps/server/dev/docker-compose.yml
Due: none

feat(apps/server): add unique constraint to Product model
  apps/server/prisma/schema.prisma
Due: none

feat(apps/server): add composite unique index to Product model
  apps/server/prisma/migrations/20250510190526_product_composite/migration.sql
Due: none

feat(apps/server): create pagination query schema
  apps/server/src/products/schemas/query-schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): remove tag query schema
  apps/server/src/products/schemas/tags.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): create product schemas with zod validation
  apps/server/src/products/schemas/products.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add ApiBearerAuth to categories, brands, and tags controllers
  apps/server/src/brands/brands.controller.ts
  apps/server/src/categories/categories.controller.ts
  apps/server/src/products/tags/tags.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): use PaginationQueryDTO in TagsService
  apps/server/src/products/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): create products service
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

feat: add product controller with CRUD operations
  apps/server/src/products/products.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): integrate ProductsController and ProductsService into ProductsModule
  apps/server/src/products/products.module.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): move TagsModule out of ProductsModule to a standalone module
  apps/server/src/app.module.ts
  apps/server/src/products/products.module.ts
  apps/server/src/tags/tags.controller.ts
  apps/server/src/tags/tags.docs.ts
  apps/server/src/tags/tags.module.ts
  apps/server/src/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): introduce VarientsModule for product variations (boilerplate)
  apps/server/src/products/products.module.ts
  apps/server/src/products/variants/variants.controller.ts
  apps/server/src/products/varients/combination-option/combination-option.controller.spec.ts
  apps/server/src/products/varients/combination-option/combination-option.controller.ts
  apps/server/src/products/varients/combination-option/combination-option.service.spec.ts
  apps/server/src/products/varients/combination-option/combination-option.service.ts
  apps/server/src/products/varients/combination/combination.controller.spec.ts
  apps/server/src/products/varients/combination/combination.controller.ts
  apps/server/src/products/varients/combination/combination.service.spec.ts
  apps/server/src/products/varients/combination/combination.service.ts
  apps/server/src/products/varients/label/label.controller.spec.ts
  apps/server/src/products/varients/label/label.controller.ts
  apps/server/src/products/varients/label/label.service.spec.ts
  apps/server/src/products/varients/label/label.service.ts
  apps/server/src/products/varients/option/option.controller.spec.ts
  apps/server/src/products/varients/option/option.controller.ts
  apps/server/src/products/varients/option/option.service.spec.ts
  apps/server/src/products/varients/option/option.service.ts
  apps/server/src/products/varients/varients.module.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): add unique constraint to VariantCombination model
  apps/server/prisma/schema.prisma
Due: none

feat(apps/server): introduce Variant Combination schemas and DTOs
  apps/server/src/products/schemas/variants.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): rename VarientsModule to VariantsModule and update routing
  apps/server/src/products/products.module.ts
  apps/server/src/products/variants/variants.module.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement CombinationController and CombinationService for product variants
  apps/server/src/products/variants/combination/combination.controller.spec.ts
  apps/server/src/products/variants/combination/combination.controller.ts
  apps/server/src/products/variants/combination/combination.service.spec.ts
  apps/server/src/products/variants/combination/combination.service.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): rename Varients to Variants in product variants files
  apps/server/src/products/variants/combination-option/combination-option.controller.spec.ts
  apps/server/src/products/variants/combination-option/combination-option.controller.ts
  apps/server/src/products/variants/combination-option/combination-option.service.spec.ts
  apps/server/src/products/variants/combination-option/combination-option.service.ts
  apps/server/src/products/variants/label/label.controller.spec.ts
  apps/server/src/products/variants/label/label.controller.ts
  apps/server/src/products/variants/label/label.service.spec.ts
  apps/server/src/products/variants/label/label.service.ts
  apps/server/src/products/variants/option/option.controller.spec.ts
  apps/server/src/products/variants/option/option.controller.ts
  apps/server/src/products/variants/option/option.service.spec.ts
  apps/server/src/products/variants/option/option.service.ts
  apps/server/src/products/varients/combination/combination.controller.spec.ts
  apps/server/src/products/varients/combination/combination.controller.ts
  apps/server/src/products/varients/combination/combination.service.spec.ts
  apps/server/src/products/varients/combination/combination.service.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): change unique constraint in VariantCombination model from id to sku
  apps/server/prisma/schema.prisma
Due: none

fix(apps/server): change priceDelta type from string to number in combinationBaseSchema
  apps/server/src/products/schemas/variants.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add label schemas and DTOs for product labels
  apps/server/src/products/schemas/variants.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement LabelController and LabelService
  apps/server/src/products/variants/label/label.controller.ts
  apps/server/src/products/variants/label/label.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add documentation for FindAllDocs and FindOneDocs functions
  apps/server/src/products/variants/label/label.docs.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add documentation decorators in CombinationController
  apps/server/src/products/variants/combination/combination.controller.ts
  apps/server/src/products/variants/combination/combination.docs.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): include productId in updateOne method for accurate label updates
  apps/server/src/products/variants/label/label.service.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): rename DeleteOne method to deleteOne for consistency
  apps/server/src/products/variants/label/label.service.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): update deleteOne method to include productId for accurate deletion
  apps/server/src/products/variants/label/label.service.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): remove CombinationOptionController and its test file
  apps/server/src/products/variants/combination-option/combination-option.controller.spec.ts
  apps/server/src/products/variants/combination-option/combination-option.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement CombinationOptionService with attach and detach methods
  apps/server/src/products/variants/combination-option/combination-option.service.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): correct reference in CombinationOptionService CombinationOptionController
  apps/server/src/products/variants/combination-option/combination-option.service.ts
  apps/server/src/products/variants/variants.module.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.488.0 to 0.503.0
  apps/web/package.json
Due: prettier --write

fix: upgrade lucide-react from 0.475.0 to 0.503.0
  packages/ui/package.json
Due: prettier --write

feat(apps/server): add multi-stage Dockerfile for NestJS application setup
  apps/server/Dockerfile
Due: none

fix(apps/server): add migration for unique constraint on VariantCombination
  .vscode/hwei.code-workspace
  apps/server/package.json
  apps/server/prisma/migrations/20250512134817_setup/migration.sql
Due: prettier --write

feat(apps/server): enhance Store and Product models with new relationships and field adjustments
  apps/server/prisma/schema.prisma
Due: none

fix(apps/server): update relationships and field adjustments for Variant related models
  apps/server/prisma/schema.prisma
Due: none

fix(vscode): add settings for prismaERDPreviewer preferred theme
  .vscode/hwei.code-workspace
Due: none

feat(apps/server): add promotions and variant pricing structures (5NF))
  apps/server/prisma/migrations/20250518085647_add_promotions/migration.sql
  apps/server/prisma/migrations/20250518092047_optimiisations/migration.sql
Due: none
