Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

feat: implement signup flow with Clerk
  apps/web/app/auth/layout.tsx
  apps/web/app/auth/sign-up/[[...sign-up]]/page.tsx
  apps/web/components/shared/micro-components/loading-spinner.tsx
  apps/web/components/specific/auth/clerk/elements/already-have-acc.tsx
  apps/web/components/specific/auth/clerk/elements/clerk-input.tsx
  apps/web/components/specific/auth/clerk/elements/create-acc-button.tsx
  apps/web/components/specific/auth/clerk/elements/create-acc.tsx
  apps/web/components/specific/auth/clerk/elements/email-input.tsx
  apps/web/components/specific/auth/clerk/elements/form-status.tsx
  apps/web/components/specific/auth/clerk/elements/password-input.tsx
  apps/web/components/specific/auth/clerk/elements/signin-button.tsx
  apps/web/components/specific/auth/clerk/elements/social-providers.tsx
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/signup-form.tsx
  apps/web/components/specific/auth/clerk/form/verification-form.tsx
  apps/web/components/specific/auth/clerk/schemas/signin-schema copy.tsx
  apps/web/components/specific/auth/clerk/schemas/signup-schema.tsx
  apps/web/components/specific/auth/clerk/sso/clerk-sso.tsx
  apps/web/components/specific/auth/clerk/stores/signup-flow-store.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: replace LoadingIndicator with LoadingSpinner in Clerk SSO component
  apps/web/components/specific/auth/clerk/sso/clerk-sso.tsx
Due: eslint --config eslint.config.js --fix

feat: implement sign in flow with Clerk
  apps/web/app/auth/sign-in/[[...sign-in]]/page.tsx
  apps/web/app/auth/sign-up/[[...sign-up]]/page.tsx
  apps/web/components/specific/auth/clerk/elements/reset-password-button.tsx
  apps/web/components/specific/auth/clerk/elements/reset-password-link.tsx
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/signup-form.tsx
  apps/web/components/specific/auth/clerk/form/verification-form.tsx
  apps/web/components/specific/auth/clerk/schemas/signin-schema copy.tsx
  apps/web/components/specific/auth/clerk/stores/auth-flow-store.tsx
  apps/web/components/specific/auth/clerk/utils/resolve-clerk-error.ts
Due: eslint --config eslint.config.js --fix

fix: redirect to home on successful sign in/up
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/verification-form.tsx
Due: eslint --config eslint.config.js --fix

feat: implement reset password flow with Clerk
  apps/web/app/auth/reset-password/[[...rest-password]]/page.tsx
  apps/web/components/specific/auth/clerk/form/reset-form.tsx
  apps/web/components/specific/auth/clerk/schemas/reset-schema.tsx
  apps/web/components/specific/auth/clerk/stores/auth-flow-store.ts
Due: eslint --config eslint.config.js --fix

fix: rename faceboot SSO component to facebook SSO
  apps/web/components/specific/auth/clerk/elements/social-providers.tsx
  apps/web/components/specific/auth/clerk/sso/facebook-sso.tsx
Due: eslint --config eslint.config.js --fix

fix: remove unused setStep from SignInForm
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
Due: eslint --config eslint.config.js --fix

fix: fallback to default auth routes if env vars are not set
  apps/web/components/specific/auth/clerk/elements/already-have-acc.tsx
  apps/web/components/specific/auth/clerk/elements/create-acc.tsx
Due: eslint --config eslint.config.js --fix

chore: remove unnecessary console.log from middleware
  apps/web/middleware.ts
Due: eslint --config eslint.config.js --fix

fix: rename signin-schema copy to signin-schema
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/schemas/signin-schema.tsx
Due: eslint --config eslint.config.js --fix

fix: add router to useEffect dependency array in VerificationForm
  apps/web/components/specific/auth/clerk/form/verification-form.tsx
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade lucide-react from 0.475.0 to 0.479.0
  apps/web/package.json
Due: prettier --write

feat(web): disable service worker in development and add clerk image domain
  apps/web/next.config.js
Due: eslint --config eslint.config.js --fix

feat(web): add gradient animations and background image to tailwind config
  apps/web/tailwind.config.ts
Due: eslint --config eslint.config.js --fix

feat(web): implement account selector with Clerk integration and UI improvements
  apps/web/components/shared/clickable/clickable-div.tsx
  apps/web/components/specific/auth/clerk/form/reset-form.tsx
  apps/web/components/specific/nav/components/account-selector/account-dropdown-actions.tsx
  apps/web/components/specific/nav/components/account-selector/account-dropdown-content.tsx
  apps/web/components/specific/nav/components/account-selector/account-selector-user.tsx
Due: eslint --config eslint.config.js --fix

refactor(web): remove unnecessary console.log from signin form
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
Due: eslint --config eslint.config.js --fix

feat(web): implement logout and account selection improvements
  apps/web/components/specific/nav/components/account-selector/account-dropdown-actions.tsx
  apps/web/components/specific/nav/components/account-selector/account-dropdown-content.tsx
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/auth/.eslintrc.js
  services/auth/Dockerfile
  services/auth/nodemon.json
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/env.ts
  services/auth/src/index.ts
  services/auth/tsconfig.json
Due: prettier --write

feat(web): add splash screen
  apps/web/app/layout.tsx
  apps/web/components/shared/branding/logo.tsx
  apps/web/components/shared/branding/splash-screen.tsx
Due: eslint --config eslint.config.js --fix

feat(web): replace sign-in and sign-up pages with modals and redirect on sign-in
  apps/web/app/auth/sign-in/[[...sign-in]]/page.tsx
  apps/web/app/auth/sign-up/[[...sign-up]]/page.tsx
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/verification-form.tsx
  apps/web/components/specific/auth/clerk/modals/sign-in-modal.tsx
  apps/web/components/specific/auth/clerk/modals/sign-up-modal.tsx
Due: eslint --config eslint.config.js --fix

feat(web): replace password input with custom component
  apps/web/components/shared/input/password-input.tsx
  apps/web/components/specific/auth/clerk/form/reset-form.tsx
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/signup-form.tsx
Due: eslint --config eslint.config.js --fix

fix(web): improve button behavior and event handling in auth forms
  apps/web/components/specific/auth/clerk/form/signup-form.tsx
  apps/web/components/specific/auth/clerk/form/verification-form.tsx
Due: eslint --config eslint.config.js --fix

refactor(web): rename loading spinner component
  apps/web/components/shared/visual/loading-spinner.tsx
Due: eslint --config eslint.config.js --fix

feat(web): implement auth modals and refactor auth forms
  apps/web/components/shared/modal/modal-provider.tsx
  apps/web/components/shared/modal/modal.tsx
  apps/web/components/specific/auth/clerk/elements/already-have-acc.tsx
  apps/web/components/specific/auth/clerk/elements/create-acc.tsx
  apps/web/components/specific/auth/clerk/elements/reset-password-link.tsx
  apps/web/components/specific/auth/clerk/elements/reset-password.tsx
  apps/web/components/specific/auth/clerk/form/reset-form.tsx
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/signup-form.tsx
  apps/web/components/specific/auth/clerk/modals/auth-modal.tsx
  apps/web/components/specific/auth/clerk/modals/sign-in-modal.tsx
  apps/web/components/specific/auth/clerk/modals/sign-up-modal.tsx
  apps/web/components/specific/auth/clerk/sso/clerk-sso.tsx
  apps/web/components/specific/nav/components/account-selector/account-dropdown-content.tsx
  apps/web/components/specific/nav/components/account-selector/add-new-account.tsx
  apps/web/stores/modal-store/auth-modal-store.ts
  apps/web/types/component-mode.ts
Due: eslint --config eslint.config.js --fix

refactor(web): remove unused modal title and description
  apps/web/components/specific/auth/clerk/modals/auth-modal.tsx
Due: eslint --config eslint.config.js --fix

refactor(web): rename component mode type
  apps/web/components/specific/auth/clerk/elements/already-have-acc.tsx
  apps/web/components/specific/auth/clerk/elements/create-acc.tsx
  apps/web/components/specific/auth/clerk/elements/reset-password.tsx
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
  apps/web/components/specific/auth/clerk/form/signup-form.tsx
  apps/web/components/specific/auth/clerk/modals/sign-in-modal.tsx
  apps/web/components/specific/auth/clerk/modals/sign-up-modal.tsx
  apps/web/types/component-mode.ts
Due: eslint --config eslint.config.js --fix

fix(web): improve "already have account" button text
  apps/web/components/specific/auth/clerk/elements/already-have-acc.tsx
Due: eslint --config eslint.config.js --fix

refactor(web): conditionally render modal title and description
  apps/web/components/shared/modal/modal.tsx
Due: eslint --config eslint.config.js --fix

feat(web): implement store selector dropdown and store context
  apps/web/components/specific/nav/components/store-selector/store-selector-dropdown.tsx
  apps/web/components/specific/nav/components/store-selector/store-selector.tsx
  apps/web/stores/stores-store.ts
  apps/web/types/icon-selector-type.ts
  apps/web/types/store-type.ts
  apps/web/utils/lucide/icon-renderer.ts
Due: eslint --config eslint.config.js --fix

feat: update ROADMAP.md to reflect completed tasks
  ROADMAP.md
Due: none

fix(web): improve order status dropdown layout
  apps/web/components/specific/orders/components/orders-table/cell/order-status-cell/order-status-cell-dropdown.tsx
Due: eslint --config eslint.config.js --fix

feat(web): implement product actions in product table
  apps/web/components/specific/products/components/products-table/cell/product-actions-cell.tsx
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.475.0 to 0.482.0
  apps/web/package.json
Due: prettier --write

fix: upgrade lucide-react from 0.475.0 to 0.483.0
  packages/ui/package.json
Due: prettier --write

feat(src/server): initialize NestJS server application
  apps/server/.gitignore
  apps/server/.prettierrc
  apps/server/README.md
  apps/server/eslint.config.mjs
  apps/server/nest-cli.json
  apps/server/package.json
  apps/server/src/app.controller.spec.ts
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
  apps/server/src/main.ts
  apps/server/test/app.e2e-spec.ts
  apps/server/test/jest-e2e.json
  apps/server/tsconfig.build.json
  apps/server/tsconfig.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat(src/server): enhance NestJS server with security, documentation, and configuration
  .vscode/settings.json
  apps/server/.prettierrc
  apps/server/eslint.config.mjs
  apps/server/nest-cli.json
  apps/server/package.json
  apps/server/src/app.module.ts
  apps/server/src/main.ts
  apps/server/src/repl.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

fix(src/server): disable prettier/prettier eslint rule
  apps/server/eslint.config.mjs
Due: none

feat(src/server): implement Clerk authentication strategy
  apps/server/package.json
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
  apps/server/src/auth/auth.module.ts
  apps/server/src/auth/guards/clerk-auth.guard.ts
  apps/server/src/auth/strategy/clerk.strategy.ts
  apps/server/src/decorators/public-route.decorator.ts
  apps/server/src/decorators/user.decorator.ts
  apps/server/src/interfaces/Request.ts
  apps/server/src/main.ts
  apps/server/src/providers/clerk-client.provider.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write
