Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

feat: implement variant item modal store and integrate with AddVariantItem component
  apps/web/components/shared/modal/variant-modal.tsx
  apps/web/components/specific/product-editor/components/product-varient/add-variant-item.tsx
  apps/web/stores/modal-store/variant-item-modal-store.ts
Due: eslint --config eslint.config.js --fix

feat: integrate Uploadthing for file uploads and enhance layout with SSR support
  apps/web/app/(pages)/layout.tsx
  apps/web/app/api/uploadthing/route.ts
  apps/web/app/layout.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tailwind.config.ts
  apps/web/utils/uploadthing/core.ts
  apps/web/utils/uploadthing/uploadting.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add ImageInput component for variant item image uploads
  apps/web/components/specific/product-editor/components/varient-item-model/image-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add TBaseLoading type for loading state management
  apps/web/types/base-props.ts
Due: eslint --config eslint.config.js --fix

feat: add variant item modal & refactor product-editor code structure
  apps/web/components/shared/modal/modal-provider.tsx
  apps/web/components/shared/modal/variant-item-modal.tsx
  apps/web/components/specific/product-editor/components/editor-fields/editor-card.tsx
  apps/web/components/specific/product-editor/components/editor-fields/product-category.tsx
  apps/web/components/specific/product-editor/components/editor-fields/product-metadata.tsx
  apps/web/components/specific/product-editor/components/editor-fields/product-price.tsx
  apps/web/components/specific/product-editor/components/product-varient/product-variants.tsx
  apps/web/components/specific/product-editor/components/varient-item-model/name-input.tsx
  apps/web/components/specific/product-editor/components/varient-item-model/submit-button.tsx
  apps/web/components/specific/product-editor/components/varient-item-model/variant-item-modal.tsx
  apps/web/components/specific/product-editor/hooks/use-varient-item.ts
  apps/web/components/specific/product-editor/product-editor.tsx
  apps/web/components/specific/product-editor/schemas/varient-item-schema.ts
Due: eslint --config eslint.config.js --fix

feat: add StockAvailableInput component for managing stock availability
  apps/web/components/specific/product-editor/components/varient-item-model/stock-available-input.tsx
Due: eslint --config eslint.config.js --fix

feat: enhance ImageInput component with loading state and conditional rendering
  apps/web/components/specific/product-editor/components/varient-item-model/image-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add StockAvailableInput to variant item modal and update schema for stock validation
  apps/web/components/specific/product-editor/components/varient-item-model/variant-item-modal.tsx
  apps/web/components/specific/product-editor/schemas/varient-item-schema.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.475.0 to 0.477.0
  apps/web/package.json
Due: prettier --write

feat: implement deleteFile function for file deletion via UTApi
  apps/web/actions/UTApi.ts
Due: eslint --config eslint.config.js --fix

feat: add ImageUploadDropzone component for file uploads with loading state
  apps/web/components/shared/image-upload/image-upload-dropzone.tsx
Due: eslint --config eslint.config.js --fix

feat: add UploadPreview component for image display with loading and delete functionality
  apps/web/components/shared/image-upload/upload-preview.tsx
Due: eslint --config eslint.config.js --fix

feat: refactor product editor modals and hooks for variant item management
  apps/web/components/shared/modal/modal-provider.tsx
  apps/web/components/specific/product-editor/components/varient-item-model/image-input.tsx
  apps/web/components/specific/product-editor/components/varient-item-model/submit-button.tsx
  apps/web/components/specific/product-editor/components/varient-item-model/variant-item-modal.tsx
  apps/web/components/specific/product-editor/hooks/use-product-form.tsx
  apps/web/components/specific/product-editor/hooks/use-varient-form.tsx
  apps/web/components/specific/product-editor/hooks/use-varient-item.ts
  apps/web/components/specific/product-editor/modals/varient-item-model/form-actions.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/image-input.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/name-input.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/stock-available-input.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/variant-item-modal.tsx
  apps/web/components/specific/product-editor/product-editor.tsx
  apps/web/hooks/use-image-upload.ts
Due: eslint --config eslint.config.js --fix

fix: improve formatting and add value handling in StockAvailableInput component
  apps/web/components/shared/image-upload/upload-preview.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/stock-available-input.tsx
Due: eslint --config eslint.config.js --fix

Update apps/web/stores/modal-store/variant-item-modal-store.ts
  apps/web/stores/modal-store/variant-item-modal-store.ts
Due: eslint --config eslint.config.js --fix

Update apps/web/components/specific/product-editor/hooks/use-varient-form.tsx
  apps/web/components/specific/product-editor/hooks/use-varient-form.tsx
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: correct import paths for modal store types and add missing type definition
  apps/web/stores/modal-store/create-modal-store.ts
  apps/web/stores/modal-store/store-modal-store.ts
  apps/web/stores/modal-store/variant-item-modal-store.ts
  apps/web/stores/modal-store/variant-modal-store.ts
  apps/web/types/modal-store-type.ts
Due: eslint --config eslint.config.js --fix

chore: pnpm package update
  pnpm-lock.yaml
Due: none

chore: downgrade tailwindcss to v3
  packages/tailwind-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add ClerkSSO component for social login integration
  apps/web/components/specific/auth/clerk/sso/clerk-sso.tsx
Due: eslint --config eslint.config.js --fix

feat: add SSO components for Facebook, GitHub, and Google integration
  apps/web/components/specific/auth/clerk/sso/faceboot-sso.tsx
  apps/web/components/specific/auth/clerk/sso/github-sso.tsx
  apps/web/components/specific/auth/clerk/sso/google-sso.tsx
Due: eslint --config eslint.config.js --fix

feat: add middleware for Clerk authentication and route protection
  apps/web/middleware.ts
Due: eslint --config eslint.config.js --fix

feat: export LoadingIndicator component and update button styling in ClerkSSO
  apps/web/components/specific/auth/clerk/sso/clerk-sso.tsx
Due: eslint --config eslint.config.js --fix

feat: add ClerkInput component for handling user input in authentication forms
  apps/web/components/specific/auth/clerk/elements/clerk-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add SignInForm component for user authentication
  apps/web/components/specific/auth/clerk/form/signin-form.tsx
Due: eslint --config eslint.config.js --fix

feat: add authentication layout and sign-in page, update dependencies for Clerk integration
  apps/web/.gitignore
  apps/web/app/(pages)/layout.tsx
  apps/web/app/auth/layout.tsx
  apps/web/app/auth/sign-in/[[...sign-in]]/page.tsx
  apps/web/app/layout.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add CreateAccButton component for account creation navigation
  apps/web/components/specific/auth/clerk/elements/create-acc-button.tsx
Due: eslint --config eslint.config.js --fix

feat: add EmailInput component for email entry in authentication forms
  apps/web/components/specific/auth/clerk/elements/email-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add PasswordInput component for secure password entry in authentication forms
  apps/web/components/specific/auth/clerk/elements/password-input.tsx
Due: eslint --config eslint.config.js --fix

feat: add SocialProviders component for social login options in authentication
  apps/web/components/specific/auth/clerk/elements/social-providers.tsx
Due: eslint --config eslint.config.js --fix

feat: add ResetPasswordButton and SigninButton components for authentication flow
  apps/web/components/specific/auth/clerk/elements/reset-password-button.tsx
  apps/web/components/specific/auth/clerk/elements/signin-button.tsx
Due: eslint --config eslint.config.js --fix

fix: update button appearance to use !rounded-base for ImageUploadDropzone component
  apps/web/components/shared/image-upload/image-upload-dropzone.tsx
Due: eslint --config eslint.config.js --fix

fix: update appearance of ImageUploadDropzone component for improved styling
  apps/web/components/shared/image-upload/image-upload-dropzone.tsx
Due: eslint --config eslint.config.js --fix

fix: update cursor style for ImageUploadDropzone component container
  apps/web/components/shared/image-upload/image-upload-dropzone.tsx
Due: eslint --config eslint.config.js --fix

fix: update public route matcher to include /api/uploadthing for middleware
  apps/web/middleware.ts
Due: eslint --config eslint.config.js --fix

fix: replace label elements with FormLabel for consistency in form components
  apps/web/components/specific/product-editor/modals/varient-item-model/image-input.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/name-input.tsx
  apps/web/components/specific/product-editor/modals/varient-item-model/stock-available-input.tsx
Due: eslint --config eslint.config.js --fix

fix: add rounded-r-base and rounded-l-base utility classes for consistent styling
  apps/web/styles/global.scss
Due: none

fix: update ImageUploadDropzone button appearance for improved styling
  apps/web/components/shared/image-upload/image-upload-dropzone.tsx
Due: eslint --config eslint.config.js --fix

fix: add serve script to package.json for streamlined deployment
  apps/web/package.json
Due: prettier --write
