Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

.lintstagedrc.json:

{
	"apps/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/**/*.{js,ts,jsx,tsx}": ["eslint --config eslint.config.js --fix"],
	"packages/ui/**/*.{js,ts,jsx,tsx}": [
		"eslint --config eslint.config.js --fix"
	],
	"*.json": ["prettier --write"]
}

refactor: update schema types for currency and tags, improving clarity and consistency
  packages/schema/src/dto/currency.schema.ts
  packages/schema/src/dto/query-schema.ts
  packages/schema/src/dto/tags.schema.ts
Due: eslint --config eslint.config.js --fix

feat: add TEST_CONFIG for API and asset configuration in tests
  packages/client-sdk/tests/config/test.config.ts
Due: eslint --config eslint.config.js --fix

feat: add test setup configuration for environment variables and console mocks
  packages/client-sdk/tests/setup.ts
Due: eslint --config eslint.config.js --fix

feat: add helper functions for mocking Axios and handling token errors
  packages/client-sdk/tests/helpers/index.ts
Due: eslint --config eslint.config.js --fix

feat: add mock data and helper functions for testing various entities
  packages/client-sdk/tests/fixtures/index.ts
Due: eslint --config eslint.config.js --fix

feat: implement BrandClient API tests including CRUD operations and error handling
  packages/client-sdk/tests/unit/brand.test.ts
Due: eslint --config eslint.config.js --fix

feat: add CategoryClient API tests for CRUD operations and error handling
  packages/client-sdk/tests/unit/category.test.ts
Due: eslint --config eslint.config.js --fix

feat: add CurrencyClient API tests for CRUD operations and error handling
  packages/client-sdk/tests/unit/currency.test.ts
Due: eslint --config eslint.config.js --fix

feat: add StoreClient API tests for CRUD operations and error handling
  packages/client-sdk/tests/unit/store.test.ts
Due: eslint --config eslint.config.js --fix

feat: add TagClient API tests for CRUD operations and error handling
  packages/client-sdk/tests/unit/tag.test.ts
Due: eslint --config eslint.config.js --fix

feat: update package.json and pnpm-lock.yaml 3
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add .gitignore
  packages/client-sdk/.gitignore
Due: none

feat: update CurrencyClient to use new DTOs for create and update operations
  packages/client-sdk/src/helpers/currency.ts
Due: eslint --config eslint.config.js --fix

feat: create ImageModule with service and controller integration
  apps/server/src/products/image/image.module.ts
Due: eslint --config eslint.config.js --fix

fix: update controller route from 'image' to 'images' for consistency
  apps/server/src/products/image/image.controller.ts
Due: eslint --config eslint.config.js --fix

fix: return product object directly in createOne method and update variable usage for clarity
  apps/server/src/products/product.transactions.service.ts
Due: eslint --config eslint.config.js --fix

feat: integrate ImageModule into ProductsModule and clean up imports
  apps/server/src/products/products.module.ts
  apps/server/src/products/variants/variants.module.ts
Due: eslint --config eslint.config.js --fix

feat: enhance ProductClient with new image handling methods and update mock data structure
  packages/client-sdk/src/helpers/product.ts
  packages/client-sdk/tests/config/test.config.ts
  packages/client-sdk/tests/fixtures/index.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade tailwindcss from 3.4.7 to 3.4.18
  packages/ui/package.json
Due: prettier --write

feat: add Order and Cart models with relationships, and update Currency model to include orders
  apps/server/prisma/migrations/20251022154132_v1_2/migration.sql
  apps/server/prisma/migrations/20251023110035_v1_2/migration.sql
  apps/server/prisma/schema.prisma
Due: none

feat: add utility function to extract field name from constraint string
  apps/server/src/common/errors/utils/extracts.ts
Due: eslint --config eslint.config.js --fix

feat: add InternalErrorHandlerProps and PrismaErrorMeta interfaces for error handling
  apps/server/src/common/errors/types/internal-handler-props.ts
  apps/server/src/common/errors/types/prisma-meta.ts
Due: eslint --config eslint.config.js --fix

feat: add formatForeignKeyError utility function for improved error handling
  apps/server/src/common/errors/utils/format-foriegn-key-error.ts
Due: eslint --config eslint.config.js --fix

feat: add formatDependencyError utility function for handling deletion errors due to dependencies
  apps/server/src/common/errors/utils/format-dependency-error.ts
Due: eslint --config eslint.config.js --fix

feat: enhance error handling in handleInternalError function with specific cases for Prisma errors
  apps/server/src/common/errors/handlers/internal.error.handler.ts
Due: eslint --config eslint.config.js --fix

feat: add 'fkey' to cspell words list for improved spell checking
  apps/server/eslint.config.mjs
Due: none

feat: add computed fields and enhance indexing
  apps/server/prisma/schema.prisma
Due: none

refactor: simplify query construction in findAll method for better readability
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

chore: remove obsolete migration files and add new migrations for schema updates
  apps/server/prisma/migrations/20250429150536_initial/migration.sql
  apps/server/prisma/migrations/20250430105252_brand/migration.sql
  apps/server/prisma/migrations/20250502112945_unique_constrains/migration.sql
  apps/server/prisma/migrations/20250510190526_product_composite/migration.sql
  apps/server/prisma/migrations/20250512134817_setup/migration.sql
  apps/server/prisma/migrations/20250518085647_add_promotions/migration.sql
  apps/server/prisma/migrations/20250518092047_optimiisations/migration.sql
  apps/server/prisma/migrations/20250519201838_image_alt/migration.sql
  apps/server/prisma/migrations/20250529192358_refactor_images_currency/migration.sql
  apps/server/prisma/migrations/20251017075652_v1_1/migration.sql
  apps/server/prisma/migrations/20251022154132_v1_2/migration.sql
  apps/server/prisma/migrations/20251027091102_v1_0/migration.sql
  apps/server/prisma/migrations/20251027091236_add_triggers/migration.sql
  apps/server/prisma/migrations/20251027094630_v1_0_1_patch_optional_str/migration.sql
Due: none

style: standardize constructor formatting across multiple services and controllers
  apps/server/src/brands/brands.service.ts
  apps/server/src/categories/categories.controller.ts
  apps/server/src/categories/categories.service.ts
  apps/server/src/common/guards/store-ownership.guard.ts
  apps/server/src/common/pipes/zod-validation.pipe.ts
  apps/server/src/currency/currency.controller.ts
  apps/server/src/products/image/image.controller.ts
  apps/server/src/products/image/image.module.ts
  apps/server/src/products/products.controller.ts
  apps/server/src/products/products.module.ts
  apps/server/src/products/variants/inventory/inventory.controller.ts
  apps/server/src/products/variants/label/label.service.ts
  apps/server/src/products/variants/variants.module.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
  apps/server/src/tags/tags.controller.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix

fix: correct price validation to ensure it is an integer and greater than or equal to zero
  packages/schema/src/dto/price.schema.ts
Due: eslint --config eslint.config.js --fix

feat: add tags field to product transaction input schema
  packages/schema/src/dto/product-transaction.ts
Due: eslint --config eslint.config.js --fix

feat: add cache manager support with global configuration
  apps/server/package.json
  apps/server/src/app.module.ts
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add CacheInterceptor to multiple controllers for improved caching
  apps/server/src/brands/brands.controller.ts
  apps/server/src/categories/categories.controller.ts
  apps/server/src/currency/currency.controller.ts
  apps/server/src/products/products.controller.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/tags/tags.controller.ts
Due: eslint --config eslint.config.js --fix

chore: update package manager version and add cache-manager dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

style: format code
  apps/server/src/app.module.ts
  apps/server/src/brands/brands.controller.ts
  apps/server/src/categories/categories.controller.ts
  apps/server/src/currency/currency.controller.ts
  apps/server/src/products/products.controller.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/tags/tags.controller.ts
Due: eslint --config eslint.config.js --fix

fix: ensure default pagination takes 10 items when not specified
  apps/server/src/products/products.service.ts
Due: eslint --config eslint.config.js --fix

fix: make tags optional in productTransactionInput schema
  packages/schema/src/dto/product-transaction.ts
Due: eslint --config eslint.config.js --fix

feat: enhance User and Order models with additional fields and relationships
  apps/server/prisma/schema.prisma
Due: none

feat: add tag population logic in product transaction creation
  apps/server/src/products/product.transactions.service.ts
Due: eslint --config eslint.config.js --fix
