Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

chore: add code of conduct
  CODE_OF_CONDUCT.md
Due: none

chore: add license
  LICENSE
Due: none

chore: add security.md
  SECURITY.md
Due: none

feat: add oauth-2 mongoose model
  services/auth/src/models/oauth.ts
Due: none

feat: add oauth-2 types
  services/auth/src/types/0auth-types.ts
Due: none

feat: add oauth-2 helper utils
  services/auth/src/utils/get-access-token.ts
  services/auth/src/utils/get-auth-code.ts
  services/auth/src/utils/get-client.ts
  services/auth/src/utils/get-refresh-token.ts
  services/auth/src/utils/revoke-auth-code.ts
  services/auth/src/utils/revoke-refresh-token.ts
  services/auth/src/utils/save-auth-code.ts
  services/auth/src/utils/save-refresh-token.ts
Due: none

chore: initialise auth service
  services/auth/.eslintrc.js
  services/auth/Dockerfile
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/tsconfig.json
Due: prettier --write

feat(env): add AUTH_PORT env schema
  packages/env/schema/env-schema.ts
Due: eslint --config eslint.config.js --fix

feat(services/auth): add nodemon config
  services/api/src/index.ts
  services/auth/nodemon.json
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/env.ts
  services/auth/src/index.ts
  services/auth/src/models/oauth.ts
  services/auth/src/types/0auth-types.ts
  services/auth/src/utils/get-access-token.ts
  services/auth/src/utils/get-auth-code.ts
  services/auth/src/utils/get-client.ts
  services/auth/src/utils/get-refresh-token.ts
  services/auth/src/utils/revoke-auth-code.ts
  services/auth/src/utils/revoke-refresh-token.ts
  services/auth/src/utils/save-auth-code.ts
  services/auth/src/utils/save-refresh-token.ts
  services/auth/tsconfig.json
Due: prettier --write

chore: add eslint
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add shadcn ui component library
  README.md
  packages/ui/.eslintrc.js
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/postcss.config.ts
  packages/ui/src/button.tsx
  packages/ui/src/react/card.tsx
  packages/ui/src/react/index.ts
  packages/ui/src/react/search/index.ts
  packages/ui/src/react/search/search-input.tsx
  packages/ui/src/react/search/search-schema.ts
  packages/ui/src/shadcn/button.tsx
  packages/ui/src/shadcn/input.tsx
  packages/ui/src/shadcn/separator.tsx
  packages/ui/src/styles.css
  packages/ui/src/utils/cn.ts
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  packages/ui/watch.ts
  pnpm-lock.yaml
  services/auth/package.json
Due: eslint --config eslint.config.js --fix, prettier --write

chore: configure web app basics
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/styles/global.scss
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  packages/tailwind-config/tailwind.config.ts
  packages/ui/src/react/card.tsx
  packages/ui/src/react/index.ts
  packages/ui/src/react/search/index.ts
  packages/ui/src/react/search/search-input.tsx
  packages/ui/src/react/search/search-schema.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

ci: improved docker build strategy
  docker-compose.yml
  services/api/.eslintrc.js
  services/api/Dockerfile
  services/api/package.json
  services/api/src/__tests__/server.test.ts
  services/api/src/index.ts
  services/api/src/server.ts
  services/api/tsconfig.json
  services/auth/Dockerfile
  services/auth/package.json
Due: prettier --write

feat: add @types/node
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

feat: add PWA & SEO support
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/app/favicon.ico
  apps/web/app/layout.tsx
  apps/web/app/manifest.webmanifest
  apps/web/app/sw.ts
  apps/web/components/shared/profile-dropdown/profile-dropdown.tsx
  apps/web/components/specific/nav/nav.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/icon512_maskable.png
  apps/web/public/icon512_rounded.png
  apps/web/public/robots.txt
  apps/web/pwa/index.ts
  apps/web/pwa/metadata.ts
  apps/web/pwa/viewport.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

docs: update README.md
  README.md
Due: none

docs: add roadmap
  ROADMAp.md
Due: none

docs: add readme
  README.md
Due: none

chore: remace ROADMAp.md -> ROADMAP.md
  ROADMAP.md
Due: none

chore: rename ROADMAp.md -> ROADMAP.md
  ROADMAP.md
Due: none

Update README.md
  README.md
Due: none

feat: add profile dropdown component
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/shared/profile-dropdown/profile-dropdown.tsx
  apps/web/components/specific/nav/nav.tsx
  apps/web/components/specific/sidebar/sidebar.tsx
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/styles/global.scss
Due: eslint --config eslint.config.js --fix, prettier --write

feat: improve button variants
  packages/tailwind-config/tailwind.config.ts
  packages/ui/src/shadcn/button.tsx
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix

feat: add nav bar components
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/shared/button/icon-button.tsx
  apps/web/components/specific/nav/components/account-selector/account-selector.tsx
  apps/web/components/specific/nav/components/notification-button/notification-button.tsx
  apps/web/components/specific/nav/components/route-title/route-title.tsx
  apps/web/components/specific/nav/components/settings-button/settings-button.tsx
  apps/web/components/specific/nav/components/store-selector/store-selector.tsx
  apps/web/components/specific/nav/nav.tsx
  packages/ui/tailwind.config.ts
Due: eslint --config eslint.config.js --fix

feat: add tooltip shadcn component
  apps/web/app/layout.tsx
  apps/web/app/manifest.webmanifest
  apps/web/app/page.tsx
  apps/web/components/shared/button/icon-button.tsx
  apps/web/components/specific/nav/components/account-selector/account-selector.tsx
  apps/web/components/specific/nav/components/notification-button/notification-button.tsx
  apps/web/components/specific/nav/components/settings-button/settings-button.tsx
  apps/web/components/specific/nav/components/store-selector/store-selector.tsx
  apps/web/components/specific/sidebar/sidebar.tsx
  apps/web/styles/global.scss
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/shadcn/button.tsx
  packages/ui/src/shadcn/tooltip.tsx
  packages/ui/src/styles.css
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add logo component
  apps/web/components/shared/branding/logo.tsx
Due: eslint --config eslint.config.js --fix

feat: add sidebar
  apps/web/components/specific/sidebar/sidebar-buttons.tsx
Due: eslint --config eslint.config.js --fix

feat: add pages routes for each sidepanel button
  apps/web/app/(pages)/earnings/page.tsx
  apps/web/app/(pages)/layout.tsx
  apps/web/app/(pages)/orders/page.tsx
  apps/web/app/(pages)/products/page.tsx
  apps/web/app/(pages)/shipping/page.tsx
  apps/web/app/page.tsx
  apps/web/components/specific/nav/components/route-title/route-title.tsx
  apps/web/components/specific/sidebar/sidebar-buttons.tsx
  apps/web/styles/global.scss
Due: eslint --config eslint.config.js --fix

feat: improve keyboard focusability
  packages/ui/src/shadcn/button.tsx
Due: eslint --config eslint.config.js --fix

feat: add top loading bar
  apps/web/app/(pages)/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: eslint --config eslint.config.js --fix

feat: improve accecibility features
  apps/web/components/shared/card/card.tsx
  apps/web/components/specific/sidebar/sidebar-buttons.tsx
  apps/web/package.json
  apps/web/styles/global.scss
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

refactor: add aria-current for sidebar buttons
  apps/web/components/specific/sidebar/sidebar-buttons.tsx
Due: eslint --config eslint.config.js --fix

feat: add selector-button component
  apps/web/components/shared/button/selector-button.tsx
Due: eslint --config eslint.config.js --fix

feat: add tertiary color
  packages/tailwind-config/tailwind.config.ts
Due: eslint --config eslint.config.js --fix

refactor: change focus pseudoclasses -> focus-visible
  packages/ui/src/shadcn/button.tsx
Due: eslint --config eslint.config.js --fix

feat: add card shadcn component
  apps/web/app/(pages)/page.tsx
  apps/web/components/shared/card/card.tsx
  packages/ui/src/shadcn/card.tsx
Due: eslint --config eslint.config.js --fix

feat: add graph label
  apps/web/components/shared/graph/graph-label.tsx
Due: eslint --config eslint.config.js --fix

feat: add site visits
  apps/web/components/shared/button/selector-button.tsx
  apps/web/components/shared/graph/graph-label.tsx
  apps/web/components/specific/dashboard/components/site-visits/index.ts
  apps/web/components/specific/dashboard/components/site-visits/site-visit-chart.tsx
  apps/web/components/specific/dashboard/components/site-visits/site-visits.tsx
  apps/web/components/specific/dashboard/dashboard.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat: add product card
  apps/web/components/shared/card/product-card/index.ts
  apps/web/components/shared/card/product-card/product-card.tsx
Due: eslint --config eslint.config.js --fix

Path conditions:
  eslint --config eslint.config.js --fix: ((any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/**/*.{js,ts,jsx,tsx})) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
