Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

chore: add cspell check eslint plugin
  apps/server/eslint.config.mjs
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(apps/server): add path aliases for common modules in tsconfig
  apps/server/tsconfig.json
Due: prettier --write

feat(apps/server): refactor imports to use path aliases and add Price module
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.module.ts
  apps/server/src/auth/guards/clerk-auth.guard.ts
  apps/server/src/brands/brands.controller.ts
  apps/server/src/brands/brands.module.ts
  apps/server/src/brands/brands.service.ts
  apps/server/src/categories/categories.controller.ts
  apps/server/src/categories/categories.module.ts
  apps/server/src/categories/categories.service.ts
  apps/server/src/common/decorators/user.decorator.ts
  apps/server/src/common/errors/handlers/internal.error.handler.ts
  apps/server/src/common/guards/store-ownership.guard.ts
  apps/server/src/price/price.controller.spec.ts
  apps/server/src/price/price.controller.ts
  apps/server/src/price/price.module.ts
  apps/server/src/price/price.service.spec.ts
  apps/server/src/price/price.service.ts
  apps/server/src/price/schemas/price.schema.ts
  apps/server/src/products/products.controller.ts
  apps/server/src/products/products.module.ts
  apps/server/src/products/products.service.ts
  apps/server/src/products/schemas/variants.schema.ts
  apps/server/src/products/variants/combination-option/combination-option.service.ts
  apps/server/src/products/variants/combination/combination.controller.ts
  apps/server/src/products/variants/combination/combination.service.ts
  apps/server/src/products/variants/label/label.controller.ts
  apps/server/src/products/variants/label/label.service.ts
  apps/server/src/products/variants/variants.module.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.module.ts
  apps/server/src/stores/stores.service.ts
  apps/server/src/tags/tags.controller.ts
  apps/server/src/tags/tags.module.ts
  apps/server/src/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

docs: update readme
  README.md
Due: none

feat(apps/server): enhance Variant models with additional fields and unique constraints
  apps/server/prisma/schema.prisma
Due: none

feat(apps/server): add Image schemas and DTOs for image handling
  apps/server/src/products/schemas/images.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement ImageService for managing variant images
  apps/server/src/products/variants/image/image.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add BaseService class for common service functionality
  apps/server/src/common/services/base.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): refactor TagsController and TagsService to use Zod validation for parameters
  apps/server/src/tags/tags.controller.ts
  apps/server/src/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): correct typo in ImageBaseSchema for imageAlt property
  apps/server/src/products/schemas/images.schema.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add index on Promotion model for date range queries
  apps/server/prisma/schema.prisma
Due: none

feat(apps/server): refactor ImageService to extend BaseService and improve logging
  apps/server/src/products/variants/image/image.service.spec.ts
  apps/server/src/products/variants/image/image.service.ts
Due: eslint --config eslint.config.js --fix

refactor(tags): reorganize import statements for better readability
  apps/server/src/tags/tags.controller.ts
Due: eslint --config eslint.config.js --fix

feat(migrations): add migration to drop obsolete columns and add combinationId with constraints
  apps/server/prisma/migrations/20250519201838_image_alt/migration.sql
Due: none

feat(.gitignore): add drafts directory to ignore list
  apps/server/.gitignore
Due: none

feat(schemas): add basicPaginationQuerySchema to omit search field
  apps/server/src/products/schemas/query-schema.ts
Due: eslint --config eslint.config.js --fix

feat(schemas): update ImageMetadataSchema and ImageRelationsSchema to use cuid
  apps/server/src/products/schemas/images.schema.ts
Due: eslint --config eslint.config.js --fix

fix(schemas): correct variantId to combinationId
  apps/server/src/products/schemas/images.schema.ts
Due: eslint --config eslint.config.js --fix

feat(variants): add ImageService and ImageController to VariantsModule
  apps/server/src/products/variants/variants.module.ts
Due: eslint --config eslint.config.js --fix

feat(images): add ImageController and documentation for image retrieval endpoints
  apps/server/src/products/variants/image/image.controller.ts
  apps/server/src/products/variants/image/image.docs.ts
Due: eslint --config eslint.config.js --fix

feat(variants): add unique and index constraints to VariantInventory model
  apps/server/prisma/schema.prisma
Due: none

feat(inventory): add schemas and DTOs for inventory management
  apps/server/src/products/schemas/inventory.schema.ts
Due: eslint --config eslint.config.js --fix

feat(inventory): implement InventoryController and InventoryService for stock management
  apps/server/src/products/variants/inventory/inventory.controller.ts
  apps/server/src/products/variants/inventory/inventory.service.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.503.0 to 0.507.0
  apps/web/package.json
Due: prettier --write

chore(package): update packageManager to pnpm@10.11.0
  package.json
Due: prettier --write

feat(images): refactor ImageService methods for improved error handling
  apps/server/src/products/variants/image/image.controller.spec.ts
  apps/server/src/products/variants/image/image.controller.ts
  apps/server/src/products/variants/image/image.service.ts
Due: eslint --config eslint.config.js --fix

refactor(base): rename execute method to withErrorHandling for clarity
  apps/server/src/common/services/base.service.ts
Due: eslint --config eslint.config.js --fix

refactor(inventory): simplify stock management methods and enhance error handling
  apps/server/src/products/variants/inventory/inventory.controller.spec.ts
  apps/server/src/products/variants/inventory/inventory.service.spec.ts
  apps/server/src/products/variants/inventory/inventory.service.ts
Due: eslint --config eslint.config.js --fix

refactor(variants): remove redundant unique and index constraints from VariantInventory model
  apps/server/prisma/schema.prisma
Due: none

refactor(images): streamline logging in ImageService methods
  apps/server/src/products/variants/image/image.service.ts
Due: eslint --config eslint.config.js --fix

refactor(tags): replace execute method with withErrorHandling for improved error management
  apps/server/src/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

feat(pricing): migrate price module to variant pricing
  apps/server/src/price/price.controller.spec.ts
  apps/server/src/price/price.controller.ts
  apps/server/src/price/price.module.ts
  apps/server/src/price/price.service.spec.ts
  apps/server/src/price/price.service.ts
  apps/server/src/price/schemas/price.schema.ts
  apps/server/src/products/prices/prices.controller.ts
  apps/server/src/products/prices/prices.service.ts
  apps/server/src/products/variants/pricing/pricing.controller.spec.ts
  apps/server/src/products/variants/pricing/pricing.controller.ts
  apps/server/src/products/variants/pricing/pricing.service.ts
Due: eslint --config eslint.config.js --fix

feat(currency): implement currency management module
  apps/server/src/app.module.ts
  apps/server/src/currency/currency.controller.spec.ts
  apps/server/src/currency/currency.controller.ts
  apps/server/src/currency/currency.module.ts
  apps/server/src/currency/currency.service.spec.ts
  apps/server/src/currency/currency.service.ts
  apps/server/src/currency/schemas/currency.schema.ts
Due: eslint --config eslint.config.js --fix

feat(images): migrate variant level images to product level images
  apps/server/src/products/image/image.controller.spec.ts
  apps/server/src/products/image/image.controller.ts
  apps/server/src/products/image/image.docs.ts
  apps/server/src/products/image/image.service.spec.ts
  apps/server/src/products/image/image.service.ts
  apps/server/src/products/products.module.ts
Due: eslint --config eslint.config.js --fix

feat(products): introduce product transaction schema
  apps/server/src/products/schemas/product-transaction.ts
Due: eslint --config eslint.config.js --fix

feat(images): introduce product images and migrate variant images
  apps/server/prisma/schema.prisma
Due: none

feat(products): introduce price schema and option schema
  apps/server/src/products/schemas/images.schema.ts
  apps/server/src/products/schemas/price.schema.ts
  apps/server/src/products/schemas/variants.schema.ts
  apps/server/src/tags/schemas/tags.schema.ts
Due: eslint --config eslint.config.js --fix

feat(images): migrate variant images to product images
  apps/server/src/products/variants/image/image.controller.spec.ts
  apps/server/src/products/variants/image/image.controller.ts
  apps/server/src/products/variants/image/image.docs.ts
  apps/server/src/products/variants/image/image.service.spec.ts
  apps/server/src/products/variants/image/image.service.ts
Due: eslint --config eslint.config.js --fix

feat(products): refactor currency and images schema
  apps/server/prisma/migrations/20250529192358_refactor_images_currency/migration.sql
  apps/server/prisma/schema.prisma
Due: none

feat(currency): enhance currency management and schema
  apps/server/src/currency/currency.controller.ts
  apps/server/src/currency/currency.module.ts
  apps/server/src/currency/currency.service.ts
  apps/server/src/currency/schemas/currency.schema.ts
Due: eslint --config eslint.config.js --fix

Path conditions:
  eslint --config eslint.config.js --fix: ((any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/**/*.{js,ts,jsx,tsx})) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
