Repository Akshay-Vs/hwei: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.js --fix, prettier --write

feat(src/server): add protected route and user decorator
  apps/server/src/app.controller.ts
Due: eslint --config eslint.config.js --fix

feat(src/server): enhance protected route and logging
  apps/server/src/app.service.ts
  apps/server/src/auth/guards/clerk-auth.guard.ts
  apps/server/src/auth/strategy/clerk.strategy.ts
Due: eslint --config eslint.config.js --fix

feat(src/server): implement stores module with controller and service prototype
  apps/server/src/app.module.ts
  apps/server/src/stores/schemas/store.schema.ts
  apps/server/src/stores/stores.controller.spec.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix

feat(src/server): integrate Prisma ORM
  apps/server/.gitignore
  apps/server/eslint.config.mjs
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(apps/server): add docker-compose file for local postgres
  apps/server/dev/docker-compose.yml
Due: none

feat(apps/server): integrate Prisma ORM and define Store model
  apps/server/prisma/db.ts
  apps/server/prisma/migrations/20250418092730_init/migration.sql
  apps/server/prisma/migrations/20250418095152_init/migration.sql
  apps/server/prisma/migrations/20250418105837_init/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/prisma/schema.prisma
  apps/server/src/app.controller.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): correct import path for public route decorator
  apps/server/src/auth/guards/clerk-auth.guard.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): move common decorators, interfaces, and providers to common directory
  apps/server/src/common/decorators/public-route.decorator.ts
  apps/server/src/common/decorators/user.decorator.ts
  apps/server/src/common/interfaces/Request.ts
  apps/server/src/common/providers/clerk-client.provider.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement store retrieval and integrate Prisma
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.module.ts
  apps/server/src/common/database/prisma.service.ts
  apps/server/src/stores/schemas/store.schema.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement store CRUD operations with Prisma and input validation
  apps/server/package.json
  apps/server/prisma/migrations/20250418092730_init/migration.sql
  apps/server/prisma/migrations/20250418095152_init/migration.sql
  apps/server/prisma/migrations/20250418105837_init/migration.sql
  apps/server/prisma/migrations/20250418201348_init/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/auth/strategy/clerk.strategy.ts
  apps/server/src/common/base/base.guard.ts
  apps/server/src/common/database/prisma.service.ts
  apps/server/src/stores/schemas/store.schema.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

refactor(apps/server): implement Zod validation pipe and integrate with stores module
  apps/server/src/app.controller.spec.ts
  apps/server/src/common/base/base.guard.ts
  apps/server/src/common/pipes/zod-validation.pipe.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): remove unimplemented store CRUD methods
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): refine store creation and validation with Zod and NestJS pipes
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
  apps/server/src/common/pipes/zod-validation.pipe.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.module.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): enhance store schema and validation with Prisma and Zod
  apps/server/prisma/db.ts
  apps/server/prisma/migrations/20250419074145_init/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/stores/schemas/store.schema.ts
  apps/server/src/stores/stores.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): integrate zod-nestjs for DTO generation in stores module
  apps/server/package.json
  apps/server/src/stores/schemas/store.schema.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix, prettier --write

feat(apps/server): implement Swagger documentation and enhance store controller
  apps/server/src/main.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
  apps/server/src/swagger.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): improve bootstrap logging and remove unused swagger logger
  apps/server/src/main.ts
  apps/server/src/swagger.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): enhance Prisma schema for products and related tables
  apps/server/prisma/migrations/20250419074145_init/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/prisma/schema.prisma
Due: none

feat(apps/server): configure module resolution in tsconfig.json
  apps/server/tsconfig.json
Due: prettier --write

feat(apps/server): add explicit type to PublicRoute decorator
  apps/server/src/common/decorators/public-route.decorator.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement tags module with controller and service
  apps/server/src/products/tags/tags.controller.ts
  apps/server/src/products/tags/tags.service.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): integrate products, brands, and categories modules
  apps/server/src/app.module.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): integrate products, brands, and categories modules
  apps/server/src/brands/brands.controller.spec.ts
  apps/server/src/brands/brands.controller.ts
  apps/server/src/brands/brands.module.ts
  apps/server/src/brands/brands.service.spec.ts
  apps/server/src/brands/brands.service.ts
  apps/server/src/categories/categories.controller.spec.ts
  apps/server/src/categories/categories.controller.ts
  apps/server/src/categories/categories.module.ts
  apps/server/src/categories/categories.service.spec.ts
  apps/server/src/categories/categories.service.ts
  apps/server/src/products/prices/prices.controller.spec.ts
  apps/server/src/products/prices/prices.controller.ts
  apps/server/src/products/prices/prices.service.ts
  apps/server/src/products/products.controller.spec.ts
  apps/server/src/products/products.controller.ts
  apps/server/src/products/products.module.ts
  apps/server/src/products/variants/variants.controller.spec.ts
  apps/server/src/products/variants/variants.controller.ts
  apps/server/src/products/variants/variants.service.ts
  apps/server/src/stores/stores.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement brands module with controller, service, and schema
  apps/server/src/brands/brands.controller.ts
  apps/server/src/brands/brands.service.spec.ts
  apps/server/src/brands/brands.service.ts
  apps/server/src/brands/schemas/brands.schema.ts
  apps/server/src/categories/categories.service.spec.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): remove BaseGuards and userGuard calls from StoresService
  apps/server/src/common/base/base.guard.ts
  apps/server/src/stores/stores.service.ts
Due: eslint --config eslint.config.js --fix

fix: upgrade lucide-react from 0.475.0 to 0.487.0
  apps/web/package.json
Due: prettier --write

feat(apps/server): integrate stores and brands modules with Prisma
  .vscode/hwei.code-workspace
  apps/server/prisma/migrations/20250429150536_initial/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/src/brands/brands.controller.ts
  apps/server/src/brands/brands.module.ts
  apps/server/src/brands/brands.service.ts
  apps/server/src/brands/schemas/brands.schema.ts
  apps/server/src/stores/schemas/store.schema.ts
  apps/server/src/stores/stores.controller.ts
  apps/server/src/stores/stores.service.ts
  pnpm-lock.yaml
Due: eslint --config eslint.config.js --fix

feat(apps/server): add image and description fields to Brand model
  apps/server/prisma/schema.prisma
Due: none

feat(apps/server): set global API version prefix
  apps/server/src/main.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): implement authorization and CRUD operations for brands
  apps/server/src/brands/brands.module.ts
  apps/server/src/brands/brands.service.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): rename brand fields and update schema validation
  apps/server/src/brands/schemas/brands.schema.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): update brands controller and service to include storeId
  apps/server/src/brands/brands.controller.ts
Due: eslint --config eslint.config.js --fix

feat(apps/server): add description and image fields to Brand model
  apps/server/prisma/migrations/20250430105252_brand/migration.sql
Due: none

chore: pnpm update
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(apps/web): update Next.js to v15.3.1 and update dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(apps/server): enhance brand management with error handling and updated controller
  apps/server/src/brands/brands.controller.ts
  apps/server/src/brands/brands.service.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): simplify BrandsController and update user type
  apps/server/src/brands/brands.controller.ts
Due: eslint --config eslint.config.js --fix

fix(apps/server): correct parameter order in createOne method of BrandsService
  apps/server/src/brands/brands.service.ts
Due: eslint --config eslint.config.js --fix

refactor(apps/server): update user type in StoresController
  apps/server/src/stores/stores.controller.ts
Due: eslint --config eslint.config.js --fix

Update README.md
  README.md
Due: none

Path conditions:
  eslint --config eslint.config.js --fix: ((any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/**/*.{js,ts,jsx,tsx})) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
